@import url("/src/shared/breakpoints.css");

.root {
  display: flex;
  flex-direction: column;
  gap: 38px;

  @media (--m-viewport) {
    flex-direction: column;
  }

  @media (--s-viewport) {
    gap: 16px;
  }
}

.content {
  flex: 1;
  flex-grow: 1;
}

.description {
  padding: 24px 0;
}
